/* Conteneur du footer */
.footer-container {
    height: 10dvh; /* Hauteur fixe du footer */
    background-color: #1a1a1a; /* Couleur de fond */
    display: flex;
    justify-content: flex-end; /* Alignement du bouton à droite */
    align-items: center; /* Centrer verticalement le contenu */
    padding: 0 20px; /* Ajoute un padding horizontal */
  }
  
  /* Bouton de déconnexion */
  .logout-btn {
    background-color: #b22234; /* Rouge pour le bouton */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #8b1e2b; /* Rouge plus foncé au survol */
  }
  